<script type="text/javascript">
function upload() {
    var fileInput = document.getElementById("newfile");
    if (fileInput.files.length === 0) {
        alert("Please choose a file");
        return;
    }

    var file = fileInput.files[0];
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4) {
            if (xhttp.status == 200 || xhttp.status == 303) {
                window.location.href = "/dashboard";
            } else if (xhttp.status == 0) {
                alert("Server closed the connection abruptly!");
                location.reload();
            } else {
                alert(xhttp.status + " Error!\n" + xhttp.responseText);
                location.reload();
            }
        }
    };

    var upload_path = "/upload/" + file.name;
    xhttp.open("POST", upload_path, true);
    xhttp.send(file);
}
</script>
<div>
    <a href="/">Dashboard</a> |
    <a href="/browser/">Browser</a>
</div>
<div>
    <label for="newfile">Upload a file</label>
    <input id="newfile" type="file" />
    <button onclick="upload()">Upload</button>
</div>
